*{
  margin: 0px;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('./Images/chatBack.jpg');
  background-size: cover; /* This line sets the image to cover the entire background */
  background-position: center; /* Centers the image within the container */
  display: flex;
  justify-content: center;
  align-items: center;
}


